@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-color: #333;
    color: #222;
}

a {
    color: white;
    text-decoration: none; /* no underline */
  }


  /* BASE.HTML */
.container-base{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

/* when show nav is activated, main page moves away, like a page in a book */
.container-base.show-nav{
    transform: rotate(-20deg);
}

/* when container has show-nav class, the nav list is to be visible */
.container-base.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}

/* when show nav is activated on container, this affects the circle */
.container-base.show-nav .circle{
    transform: rotate(-70deg);
}


.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle{
    background-color: #2a998a;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}


.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus{
    outline: none;
}

.circle button#open{
    left: 60%;
}

.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding-left: 30px;
}

/* this targets the items in the list */
nav ul li{
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

/* this targets the icons */
nav ul li i{
    font-size: 30px;
    margin-right: 10px;
}

/* this line makes the 2nd li item apear on a diagonal gradient  */
nav ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}

/* this line makes the 3rd li item apear on a diagonal gradient */
nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

/* HOME PAGE */
.content img{
    max-width: 100%;
}

.content{
    max-width: 1000px;
    margin: 50px auto;
}

.content h1{
    margin: 0;
}

.content small{
    color: #555;
    font-style: italic;
}

.content p{
    color: #333;
    line-height: 1.5;
}

/* REGISTER */

.container-register {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(31, 7, 7, 0.7), rgba(0, 0, 0, 0.7)),
      url(images/bg.png) center no-repeat;
    background-size: cover;
    perspective: 100rem;
  }
  
  .forms-wrapper {
    transform-style: preserve-3d;
    position: absolute;
    top: calc(50% - 17.5rem);
    left: calc(50% - 25rem);
    transform: rotateY(10deg);
    transition: transform 0.5s, left 0.5s;
  }
  
  .forms-wrapper.change {
    transform: rotateY(70deg);
    left: calc(50% + 25rem);
  }
  
  .forms-wrapper form {
    width: 50rem;
    height: 35rem;
    background-color: rgba(40, 114, 108, 0.925);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.1rem #ccc inset, -0.1rem -0.1rem 0.1rem #ccc inset;
    position: absolute;
  }
  
  .signup-form {
    transform: rotateY(270deg) translateZ(25rem) translateX(-25rem);
  }
  
  form a {
    position: absolute;
    top: 2rem;
    background-color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(40, 114, 108);
    letter-spacing: 0.2rem;
  }
  
  .signup-btn {
    left: 2rem;
    padding: 0.5rem 1rem 0.5rem 3rem;
    border-radius: 100% 0.5rem 0.5rem 100%;
  }
  
  .signin-btn {
    right: 2rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
    border-radius: 0.5rem 100% 100% 0.5rem;
  }
  
  form h2 {
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #fff;
  }
  
  .inputs-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .inputs-wrapper input {
    width: 25rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background-color: transparent;
    border: 0.1rem solid #fff;
    border-radius: 5rem;
    color: #fff;
    letter-spacing: 0.1rem;
    outline: none;
  }
  
  .inputs-wrapper input::placeholder {
    color: #fff;
    font-weight: 300;
  }
  
  .inputs-wrapper input[type="submit"] {
    background-color: #fff;
    color: rgba(40, 114, 108);
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
  }