@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-color: #333;
    color: #222;
}

a {
    color: white;
    text-decoration: none; /* no underline */
  }

 

  /* BASE.HTML */
.container-base{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}


.flashes{
  text-align: center;
}
/* when show nav is activated, main page moves away, like a page in a book */
.container-base.show-nav{
    transform: rotate(-20deg);
}

/* when container has show-nav class, the nav list is to be visible */
.container-base.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}

/* when show nav is activated on container, this affects the circle */
.container-base.show-nav .circle{
    transform: rotate(-70deg);
}


.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: 100;
}

.circle{
    background-color: #2a998a;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}


.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus{
    outline: none;
}

.circle button#open{
    left: 60%;
}

.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding-left: 30px;
}

/* this targets the items in the list */
nav ul li{
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

/* this targets the icons */
nav ul li i{
    font-size: 30px;
    margin-right: 10px;
}

/* this line makes the 2nd li item apear on a diagonal gradient  */
nav ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}

/* this line makes the 3rd li item apear on a diagonal gradient */
nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

/* HOME PAGE */
.content img{
    max-width: 100%;
}

.content{
    max-width: 1000px;
    margin: 50px auto;
}

.content h1{
    margin: 0;
}

.content small{
    color: #555;
    font-style: italic;
}

.content p{
    color: #333;
    line-height: 1.5;
}

/* REGISTER */

/* 
this affects the whole container */
.container-reg {
  display: flex;
  flex-direction: row;
}

/* this affects the container. 
Position: relative +
margin: auto centre the form and keep it responsive */
.reg-content, form {
  display: flex;
  flex-direction: column; 
  height: 70vh;
  top: 10vh;
  padding: 50px;
  position: relative;
  margin: auto;  
  
}

/* this is the left half of the form */
.reg-content{
  justify-content: space-around;
  width: 55%;
  background-image: url("/static/images/canteras\ 3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reg-content h1 {
  color: #fff;
  text-align: center;
}

/* This affects the form part of the container, */
form {
  width: 45%;
  background-color: #c4b10b;
}


/* this is the title text, sitting at the top of the form */
.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}


/* this styles the btn at the top of the form */
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

/* this styles the inner buttons */

.reg-btn{
  padding: 10px 5px;
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border: 2px solid #0a0a0a;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2a998a;
  color: #fff;
  font-size: 20px;
}

.question {
  font-size: 15px;
  text-align: center;
}

/* makes the labels look uniform */
label {
  display: block;
  margin: 5px;
}

/* this  affects the text input fields */
form div input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #0a0a0a;
  padding: 0 30px;
}

/* gives some space between each div */
form div {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* highlights the area where a user is typing */
input:focus {
  border: 2px solid #2a998a;
}

/* this pushes the icons into the input fields */
form div i {
  position: absolute;
  padding: 10px;
}



/* this styles the submit button */
.reg-submit-button {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  background-color: #2a998a;
  border: 2px solid #1d1b1b;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease; 
}

.reg-submit-button:hover, .reg-btn:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}


@media (max-width: 900px) {
  .container-reg {
    flex-direction: column;
    
  }

  form,
  .reg-content {
    width: 100%;
    top: 5vh;
  }

  .reg-btn {
    flex-direction: column;
  }
  
}

@media (max-width: 425px) {
  form {
    padding: 20px;
  }
}