@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #333;
  color: #222;
}

a {
  color: white;
  text-decoration: none;
  /* no underline */
}



/* BASE.HTML */
.container-base {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}


.flashes {
  text-align: center;
}

/* when show nav is activated, main page moves away, like a page in a book */
.container-base.show-nav {
  transform: rotate(-20deg);
}

/* when container has show-nav class, the nav list is to be visible */
.container-base.show-nav+nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

/* when show nav is activated on container, this affects the circle */
.container-base.show-nav .circle {
  transform: rotate(-70deg);
}


.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 100;
}

.circle {
  background-color: #2a998a;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}


.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

/* this targets the items in the list */
nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

/* this targets the icons */
nav ul li i {
  font-size: 30px;
  margin-right: 10px;
}

/* this line makes the 2nd li item apear on a diagonal gradient  */
nav ul li+li {
  margin-left: 15px;
  transform: translateX(-150%);
}

/* this line makes the 3rd li item apear on a diagonal gradient */
nav ul li+li+li {
  margin-left: 30px;
  transform: translateX(-200%);
}

/* HOME PAGE */
.content img {
  max-width: 100%;
}

/* makes the call to action to register more obvious */
.content a {
  color: rgb(129, 8, 8);
  font-size: 30px;
  font-weight: 400;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

/* REGISTER/login*/

/* 
this affects the whole container */
.container-reg {
  display: flex;
  flex-direction: row;
}

/* this affects the container. 
Position: relative +
margin: auto centre the form and keep it responsive */
.reg-content,
form,
.login-content {
  display: flex;
  flex-direction: column;
  height: 70vh;
  top: 10vh;
  padding: 50px;
  position: relative;
  margin: auto;

}

/* this is the left half of the form */
.reg-content,
.login-content {
  justify-content: space-around;
  width: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/static/images/canteras\ 3.jpg");
}

.login-content {
  background-image: url("/static/images/canteras4.jpg");
}

.reg-content h1,
.login-content h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
}

/* This affects the form part of the container, */
form {
  width: 45%;
  background-color: #c4b10b;
}

.form-login {
  width: 45%;
  background-color: #2a998a;
}


/* this is the title text, sitting at the top of the form */
.title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}


/* this styles the btn at the top and bottom of the form */

.reg-btn,
.login-btn {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border: 2px solid #0a0a0a;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2a998a;
  color: #fff;
  font-size: 20px;
}

.login-btn {
  background-color: #c4b10b;
}

.question {
  font-size: 15px;
  text-align: center;
}

/* makes the labels look uniform */
label {
  display: block;
  margin: 5px;
}

/* this  affects the text input fields */
form div input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #0a0a0a;
  padding: 0 30px;
}

/* gives some space between each div */
form div {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* highlights the area where a user is typing */
input:focus {
  border: 2px solid #2a998a;
}

/* this pushes the icons into the input fields */
form div i {
  position: absolute;
  padding: 10px;
}

.reg-btn:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}


@media (max-width: 900px) {
  .container-reg {
    flex-direction: column;

  }

  form,
  .reg-content {
    width: 100%;
    top: 5vh;
  }

  .reg-btn {
    flex-direction: column;
  }

}

@media (max-width: 425px) {
  form {
    padding: 20px;
  }
}


/* reviews */
.review {
  background-image: url(/static/images/sunset-canteras.jpg);
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}

/* this affects the box holding the review */
.review-form {
  background-color: aquamarine;
}

/* this affects the submit button and the text area */
.review form input,
.review form textarea {
  width: 100%;
  border: 1px solid #ddd;
}

/* this is the submit button */
.review-input {
  background: #43a7d5;
  color: #fff;
  padding: 12px;
  border: 0
}

/* this is a custom line break */
.review-hr {
  margin: 10px 0;
  border: .5px solid #ddd;
}

/* this gives stars to click on */

/* these are empty stars */
.star-rating {
  margin: 25px 0 0px;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 175px;
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url(/static/images/empty\ star.png);
  background-size: contain;
}


/* these are full stars */
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
background: url(/static/images/star.png); 
 background-size: contain;
}

.star-rating input {
   opacity: 0;
  display: inline-block;
  width: 5%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}