{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-md-7">
            <h1>Sunset Canteras</h1>
            <p>Unparalleled sea views from the 8th floor of a beautiful historic building, almost exactly in the middle
                of the famous Canteras beach.

                The sand is only 5 metres away.

                The flat is 29m2 with 2 balconies, adding 9 m2, and is best for 2 people, but more can fit.

                All you hear is the hypnotic rhythm of the sea's waves and on a good day you have views all the way to
                Tenerife.

                The exterior of the building has been fully renovated and the interior to match.

                You are at the centre of everything.</p>
            <a href="https://www.airbnb.co.uk/rooms/18222301">Visit us on Airbnb</a>
            <div class="col-md-5">
                <img src="/static/images/canteras7.jpg" alt="picture of las canteras beach"
                    class="featurette-image image-responsive">
            </div>
        </div>

    </div>

    <div class="row">
        <p>This is where the images will be put, either in tiles or a carousel</p>
    </div>

</div>
{% endblock %}