<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        type="text/css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css') }}" type="text/css">
    <title>Charcon</title>
</head>

<body>

    <!-- this div contains the entire page -->
    <div class="container-fluid container">
        <!-- circle container holds the interactive button, set to top left -->
        <!-- "close" and "open" link in with javascript -->
        <div class="circle-container">
            <div class="circle">
                <button id="close">
                    <i class="fas fa-times"></i>
                </button>
                <button id="open">
                    <i class="fas fa-bars"></i>
                </button>

            </div>
        </div>

        {% block content %}
        {% endblock %}


    </div>
<!-- the below are the navbar links -->
    <nav>
        <ul>
            <li><a href="{{ url_for('go_home') }}"><i class="fas fa-home"></i> Home</li>
            <li><a href="{{ url_for('go_home') }}"><i class="fas fa-user"></i> Register/Log In</li>
            <li><a href="{{ url_for('go_home') }}"><i class="fas fa-envelope-square"></i> Contact</li>
        </ul>
    </nav>





    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="{{ url_for ('static', filename= 'js/script.js')}}"></script>
</body>

</html>