<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css') }}" type="text/css">
    <title>Charcon</title>
</head>

<body>

    <!-- this div contains the entire page -->
    <div class="container-fluid container">
        <!-- circle container holds the interactive button, set to top left -->
        <!-- "close" and "open" link in with javascript -->
        <div class="circle-container">
            <div class="circle">
                <button id="close">
                    <i class="fas fa-times"></i>
                </button>
                <button id="open">
                    <i class="fas fa-bars"></i>
                </button>

            </div>
        </div>

        {% block content %}
        {% endblock %}

        <nav>
            <ul>
                <li><i class="fas fa-home"></i> Home</li>
                <li><i class="fas fa-user"></i> About</li>
                <li><i class="fas fa-envelope-square"></i> Contact</li>
            </ul>
        </nav>
    </div>



    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <script src="{{ url_for ('static', filename= 'js/script.js')}}"></script>
</body>

</html>