{% extends "base.html" %}
{% block content %}

<div class="container-fluid container-review">

    <div class="row ">

        <form class="col-md-12 review-form" method="POST" action="">
            <div class="row">
                <div class="input-field col-md-12">
                    
                    <label for="category_name">Place Type</label>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="">--Please choose an option--</option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="hamster">Hamster</option>
                        <option value="parrot">Parrot</option>
                        <option value="spider">Spider</option>
                        <option value="goldfish">Goldfish</option>
                    </select>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col-md-12">
                   
                    <label for="place_name">Place Name</label> <i class="fas fa-pencil-alt"></i>
                    <input id="place_name" name="place_name" minlength="5" maxlength="50" type="text" class="validate"
                        required>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col-md-12">
                    
                    <label for="place_rating">Your Rating</label>
                    <select id="place_rating" name="place_rating" class="validate" required>
                        <option value="">--Please choose an option--</option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="hamster">Hamster</option>
                        <option value="parrot">Parrot</option>
                        <option value="spider">Spider</option>
                        <option value="goldfish">Goldfish</option>
                    </select>
                    
                </div>
            </div>

            <div class="row">
                <div class="input-field col-md-12">
                    
                    <label for="visit_type">Purpose of visit</label>
                    <select id="visit_type" name="visit_type" class="validate" required>
                        <option value="">--Please choose an option--</option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="hamster">Hamster</option>
                        <option value="parrot">Parrot</option>
                        <option value="spider">Spider</option>
                        <option value="goldfish">Goldfish</option>
                    </select>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col-md-12">
                   
                    <label for="place_review"><i class="fas fa-align-left"></i>Your review</label> 
                    <textarea id="place_review" cols="75" rows="5" name="place_review" minlength="5" maxlength="500"
                        class="materialize-textarea validate" required></textarea>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col-md-12">
                   
                    <label for="visit_date"> <i class="fas fa-calendar-alt "></i>Visit date:</label>

                    <input type="date" id="visit_date" name="visit_date" value="2021-10-22" min="2016-01-01"
                        max="2022-12-31">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 center-align">
                    <button type="submit">
                        Add Review <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>





        </form>
    </div>
</div>
{% endblock %}