{% extends "base.html" %}
{% block content %}

<div class="container-fluid container-review">

    <div class="row">
        <h3>Add Task</h3>
        <form class="col-md-12" method="POST" action="">
            <div class="row">

                <div class="input-field col-md-12">
                    <i class="fas fa-user-circle "></i>
                    <input id="place_name" name="place_name" type="text" class="validate">
                    <label for="place_name">Where did you go?</label>
                </div>

                <div class="input-field col-md-12">
                    <i class="fas fa-user-circle "></i>
                    <input id="place_type" name="place_type" type="text" class="validate">
                    <label for="place_type">Type of place</label>
                </div>

                <div class="input-field col-md-12">
                    <i class="fas fa-user-circle "></i>
                    <input id="visit_type" name="visit_type" type="text" class="validate">
                    <label for="visit_type">Purpose of your visit</label>
                </div>

                <div class="input-field col-md-12">
                    <i class="fas fa-user-circle "></i>
                    <input id="place_rating" name="place_rating" type="text" class="validate">
                    <label for="place_rating">Overall rating</label>
                </div>

                <div class="input-field col-md-12">
                    <i class="fas fa-user-circle "></i>
                   
                    <label for="place_review">Your review</label>
                    <textarea id="place_review" name="place_review" type="text" class="validate" cols="75" name="commentText" rows="15"></textarea><br>
                    <br>

                </div>

            </div>
        </form>
    </div>
</div>
{% endblock %}