{% extends "base.html" %}



<!-- the block content allows this to change dependent on the page -->
{% block content %}
<!-- this div has the content actually seen -->

<div class="container-fluid">

    <div class="content ">

        <div class="col-sm-12 center-align">
            <h2 class=" center-align"><strong><em>Welcome</em></strong></h2>
            <h5 class=" center-align">
                Welcome to the Sunset Canteras guidebook, a collaborative labouur of love celebrating Europe's largest urban
                beach <br>
    
                Veritably, a little slice of paradise. <br>
                Please feel free to read reviews.
            </h5>
        </div>
        <div class="row center-align">
            <a href="{{ url_for('register') }}" class="btn btn-flat white-text">Join Us</a>
        </div>

        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><img src="/static/images/canteras7.jpg" alt=""></div>
              <div class="swiper-slide"><img src="/static/images/canteras 3.jpg" alt=""></div>
              <div class="swiper-slide"><img src="/static/images/canteras4.jpg" alt=""></div>
              <div class="swiper-slide"><img src="/static/images/canteras5.jpeg" alt=""></div>
              <div class="swiper-slide"><img src="/static/images/Las-Canteras_0.jpg" alt=""></div>
              <div class="swiper-slide"><img src="/static/images/sunset-canteras.jpg" alt=""></div>
              ...
            </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
          </div>
    
    
    </div>
    

</div>




{% endblock %}