{% extends "base.html" %}

<!-- the block content allows this to change dependent on the page -->
{% block content %}
<!-- this div has the content actually seen -->
<div class="content">
    <h1>Sunset Canteras Guide Book</h1>
    <small>Andrew Ahn</small>
    <p>Welcome to the Guidebook. Please feel free to read reviews. <br>Please <a href ="{{ url_for('register') }}">  register</a> to add your own review.
    </p>


    <img src="{{ url_for ('static', filename= 'images/Las-Canteras_0.jpg')}}" alt="Las Canteras beach">

    {% for review in reviews %}
    {{   review.place_name }}<br>
    {{   review.category_name  }}<br>
    {{   review.visit_type  }}<br>
    {{   review.visit_date  }}<br>
    {{   review.place_rating  }}<br>
    {{   review.place_review  }}<br>
    {{   review.created_by  }}<br>


    {% endfor %}

</div>
{% endblock %}