{% extends "base.html" %}
{% block content %}



<div class="container-reg">

    <div class="reg-content">
        <h1>Sunset Canteras</h1>
    </div>

    <form  class="form-login" method="POST" action="{{ url_for('login') }}">
        <div>
            <div class="social">

                <div class="title">Log In!!</div>

                <div class="question">
                    Don't Have an Account? <br />

                </div>

                <div class="login-btn">   <a href="{{ url_for('register') }}" >Register</a> </div>

            </div>

            <!-- username -->
            <div class="row">
                <div class="input-field col">
                    <label for="username">Username</label>
                    <i class="fas fa-user-plus"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15" class="validate"
                        placeholder="Sunset lover" required>
                    
                </div>

            </div>

            <!-- password -->
            <div class="row">
                <div class="input-field ">
                    <label for="password">Password</label>
                    <i class="fas fa-user-lock "></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" class="validate"
                        required>                    
                </div>
            </div>
            <!-- register -->
            <div class="row">

                <button class="login-btn" id="btn" type="submit">Log In</button>
            </div>
        </div>
    </form>




</div>


{% endblock %}