{% extends "base.html" %}
{% block content %}
<div class="container-profile">
  <div class="row ">
    <h1>Your Profile Page</h1>
    <div class="col-md-5 ">
      <img class="user-image" src="{{user_image }}" alt="profile image for {{ username }}">

    </div>
    <div class="col-md-7">
      <h5> Your Biography</h5>

      {{user_bio}}

    </div>

  </div>
  <div class="row">
    <div class="col-md-12">

      <a href="{{ url_for('create_review') }}" class="btn review-button"><i class="far fa-plus-square"></i> New
        Review</a>
      <h5>Your reviews</h5>
      {% for review in reviews %}
      {% if session.user == review.created_by %}
      <div class="accordion " id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              {{ review.place_name }}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-sm-6">
                  <img class="card-img" src="{{review.image_url }} " alt="Card image">
                </div>

                <div class="col-sm-6">
                  <strong>You visited: {{ review.place_name }}</strong></h5>

                  <p class="card-text"> and went there for {{review.visit_type}}<br>
                  </p>
                  <p class="card-text"> on {{review.visit_date}} <br>
                  </p>
                  <p class="card-text"> and rated it {{review.place_rating}} out of ten <br>
                  </p>
                  <p class="card-text "> Your thoughts: <br> {{review.place_review | safe}}
                  </p><a href="{{ url_for('edit_review', review_id=review._id) }}" class="edit-review-button">Edit</a>
                  <a href="{{ url_for('delete_review', review_id=review._id) }}" class="delete-review-button">Delete</a>
                </div>
              </div>


            </div>


          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}