{% extends "base.html" %}
{% block content %}
<div class="container-reg">

    <div class="reg-content">
        <h1>Sunset Canteras</h1>
    </div>
    <form id="form">
        <div class="social">

            <div class="title">Get Started</div>

            <div class="question">
                Already Have an Account? <br />

            </div>

            <div class="reg-btn"> Sign In </div>

        </div>
        <!-- User Name input -->

        <div>
            <label for="username">User Name</label>
            <i class="fas fa-user"></i>

            <input type="text" name="username" id="username" placeholder="Sunset lover" />
            <!-- the 2 icons below are activated by javascript -->
            <i class="fas fa-thumbs-down failure-icon"></i>
            <i class="fas fa-thumbs-up success-icon"></i>

            <div class="error"></div>

        </div>
        <!-- Email input -->

        <div>
            <label for="email">Email</label>
            <i class="far fa-envelope"></i>

            <input type="email" name="email" id="email" placeholder="abc@gmail.com" />

            <i class="fas fa-thumbs-down failure-icon"></i>
            <i class="fas fa-thumbs-up success-icon"></i>

            <div class="error"></div>

        </div>
        <!--   Password input -->

        <div>
            <label for="password">Password</label>
            <i class="fas fa-lock"></i>

            <input type="password" name="password" id="password" placeholder="Password here" />

            <i class="fas fa-thumbs-down failure-icon"></i>
            <i class="fas fa-thumbs-up success-icon"></i>

            <div class="error"></div>

        </div>

        <button class="reg-submit-button" id="btn" type="submit">Submit</button>
    </form>
</div>




{% endblock %}