{% extends "base.html" %}
{% block content %}


<div class="container-fluid view-review-container">
    <p>These are all the existing reviews</p>

    {% for review in reviews%}
    <div class="card bg-dark review-card">
        <img class="card-img" src="{{review.image_url }} " alt="Card image">
        <div class="card-img-overlay">
            <div class="review-box">
                <h5 class="card-title "> <strong>Place visited: {{ review.place_name }}</strong></h5>
                <p class="card-text"> Written by {{review.created_by| capitalize}} <br>
                </p>
                <p class="card-text"> who went there for {{review.visit_type}}<br>
                </p>
                <p class="card-text"> on {{review.visit_date}} <br>
                </p>
                <p class="card-text"> and rated it {{review.place_rating}} out of ten <br>
                </p>
                <p class="card-text "> {{review.created_by| capitalize}}'s thoughts: <br> {{review.place_review | safe}}
                </p>
                {% if session.user == review.created_by %}
                <div class="col-sm-12 ">
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" class="edit-review-button">Edit</a>
                    <a href="{{ url_for('delete_review', review_id=review._id) }}"
                        class="delete-review-button">Delete</a>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}

</div>


{% endblock  %}